.searchResultsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.searchResultsPg {
  margin-top: 60px;
  padding-bottom: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
}
