* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  /* position: absolute; */
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding-left: 50%;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.navItem {
  height: 50px;
}

.navItem:hover {
  color: #777;
}

.hamburgerMenu {
  visibility: hidden;
}

.menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navItem {
    visibility: hidden;
  }

  .nav ul {
    padding-left: 0;
  }
  .hamburgerMenu {
    padding-right: 2rem;
    visibility: visible;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .burger-bar {
    width: 2.5rem;
    height: 0.35rem;
    background-color: rgb(139, 157, 141);
    border-radius: 0.1rem;
  }

  /* ----- sliding menu ----- */
  /* clicked */
  .menu {
    position: absolute;
    left: 60%;
    width: 40%;
    height: 12rem;
    background-color: #3b3b3b;
    z-index: 6;
  }
  .menuItem {
    position: relative;
    text-decoration: none;
    top: 35px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    color: white;
  }
  .credentials {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  .credentialItem {
    text-decoration: none;
    color: white;
  }

  .menu.active {
    display: none;
  }

  .menu.inactive {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.62rem, 0.6rem);
  }
  .burger-bar.clicked:nth-child(2) {
    visibility: hidden;
  }
  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.7rem, 0.6rem);
  }
  /* unclicked */
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
